t-pull-down-refresh{
  --td-loading-color: rgb(26, 224, 175);
}
.scan{
  height: 100vh;
  background-color: #F5F6FA;
  padding-left: 30rpx;
  padding-right: 30rpx;
  .search_box{
    width: 500rpx;
    margin-top: -25rpx;
    .search{
      --td-search-bg-color: #FFFFFF;
    }
  }
  .loading_box{
    .photoButton::after{
      border: none !important;
    }
    .photoButton{
      background-color: rgb(228, 252, 246);
      color: rgb(26, 224, 175);
      border-radius: 25rpx;
      width: 60%;
      border: 2px solid rgb(26, 224, 175);
    }
    .temImage{
      width: 100%;
    }
    .temContent{
      text-align: center;
    }
  }
  .loading{
      text-align: center;
  }
}